    /* width */
    ::-webkit-scrollbar 
    {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track 
    {
	  background-color: transparent;
	  border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb 
    {
      background: #212121;
	  border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover 
    {
      background: #555;
    }
	
#inputbuttonStyle
{
	background-color: #2196f3;
	border: none;
	transition: 0.25s;
}

#inputbuttonStyle:hover
{
	background-color: #64b5f6;
}

#inputbuttonStyle:active
{
	background-color: #0d47a1;
	transition: 0.1s;
}